<!doctype html>
<div style="display:flex;flex-direction:column;justify-content: center;align-items:center;padding:5rem;">
    <h1>
        TPX Container & CI/CD Workshop {{ ":rocket:" | emojify }}
    </h1>
    <div style="padding: 2rem 0;display: flex;flex-direction: column; justify-content: center; align-items: center;">
        <span>
            Hello from within the Container!
        </span>
        <br />
        <span style="font-size: 15rem;">
            {{ ":whale:" | emojify }}
        </span>
    </div>
</div>